--swiftversion 5.7

# format options
--indent 2
--acronyms
--extensionacl on-declarations
--modifierorder
--self init-only
--importgrouping testable-bottom
--semicolons inline
--trailingclosures
--commas "always"
--stripunusedargs closure-only
--maxwidth 120
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions after-first
--funcattributes prev-line
--typeattributes prev-line
--varattributes prev-line
--ranges no-space
--xcodeindentation enabled
--patternlet hoist
--marktypes if-not-empty
--typemark "MARK: - %t"
--extensionmark  "MARK: - %t + %c"
--groupedextension "MARK: - %c"
--elseposition "same-line"
--extensionacl on-declarations
--trailingclosures
--enumnamespaces "structs-only"

# enable rules
--enable duplicateImports
--enable docComments
--enable isEmpty
--enable markTypes
--enable redundantBreak
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable leadingDelimiters
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable wrapEnumCases

# disable rules 
--disable andOperator
--disable blankLinesAtStartOfScope
--disable redundantBackticks
--disable sortedSwitchCases
--disable redundantReturn
--disable void
--disable blankLinesBetweenImports
--disable blockComments

# file options
--exclude Scripts, Pods, Carthage, Resource, **/Generated